{% extends 'base.html' %}

{% block title %}
Orders
{% endblock %}

{% block content %}
<table class="table table-striped">
            <tr>
                <th>id пользователя</th>
                <th>Имя и фамилия</th>
                <th>Юзернаме</th>
                <th>Почта</th>
                <th>Роль</th>
                <th>Удалить</th>
                <th>Повысить</th>
            </tr>
            {% for User in Users[::-1] %}
                <tr>
                    <td>{{ User.idUser }}</td>
                    <td>{{ User.Name }} {{ User.LastName }}</td>
                    <td>{{ User.Username }}</td>
                    <td>{{ User.Email }}</td>
                    <td>{{ User.Role }}</td>
                    <td>{% if User.Role != 'Admin' %}<a href="{{ url_for('delete_user', id=User.idUser) }}">
                            <button type="button" class="ui-button">Удалить пользователя</button>
                    </a>{% endif %}</td>
                    <td>{% if User.Role != 'Admin' %}<a href="{{ url_for('upgrade_people', id=User.idUser) }}">
                            <button type="button" class="ui-button">Повысить</button>
                    </a>{% endif %}</td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}